@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

html,body{
background-image: url("light.jpg") ;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Oswald', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color:dimgray;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFFF00;
}

.social_icon span:hover{
color: greenyellow;
cursor: pointer;
}

.card-header h3{
color: whitesmoke;
}

.social_icon{
position: absolute;
right: 20px;
top: 0px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFFF00;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0 ;
box-shadow: 0 0 0 0 ;

}

.remember{
color: whitesmoke;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.signup_btn{
color: black;
background-color: #FFFF00;
width: 100px;
}

.signup_btn:hover{
color: black;
background-color: greenyellow;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}